<modal #modal>
    <modal-header>
        {{ header }}
    </modal-header>
    <modal-content>
        <div class='row typeParameters'>
            <div class='col-12 iconSelect' *ngFor='let c of content' (click)="drawType(c.key)">
                <i [class]="c.icon"></i><br />
                {{ c.perimeter }}
            </div>
        </div>
    </modal-content> 
</modal>
<modal #colorPicker class='colorPicker'>
    <modal-header>
        <h6 class='text-center'>Select a color</h6>
    </modal-header>
    <modal-content>
        <app-color-picker (colorSelected)="colorSelected($event)" [colorType]="colorType"></app-color-picker>
    </modal-content>
</modal>
<modal #modalIndicator class='perimeterIndicator'>
    <modal-header>
        <h6 class='text-center'>Perimeter</h6>
    </modal-header>
    <modal-content>
        <form [formGroup]="form" autocomplete="off">
            <h4 class='text-center font-weight-bold mb-4'>Perimeter information</h4>
            <div class='row'>
                <div class='col-12 col-sm-12 col-lg-6 form-group'>
                    <label for='perimeterType'>Perimeter name</label>
                    <input type='text' class='form-control' id='perimeterType' formControlName="perimeterName">
                </div>
                <div class='col-12 col-sm-12 col-lg-6 form-group'>
                    <label for='perimeterColor'>Outline perimeter color</label>
                    <input type='text' class='form-control' id='perimeterColor' formControlName="perimeterColor" (click)="openColorPicker('point')"> <!-- Crear evento que abra un modal para elegir color -->
                </div>
                <div class='col-12 form-group'>
                    <label for='perimeterFillColor'>Fill perimeter color</label>
                    <input type='text' class='form-control' id='perimeterFillColor' formControlName="perimeterFillColor" (click)="openColorPicker('fill')">
                </div>
            </div>
        </form>
        <hr />
        <div class='form-group coordinates'>
            <h4 class='text-center font-weight-bold mb-4'>Current coordenates</h4>
            <div class='row'>
                <div class='col-12 col-sm-12 col-md-6 col-lg-6'>
                    <label for='latitud'>Latitude:</label><br>
                    <input *ngIf='drawMarked.length > 0' class='form-control' type='text' id='latitud' disabled [value]="drawMarked[drawMarked.length-1][0]">
                    <input *ngIf='drawMarked.length == 0' class='form-control' type='text' id='latitud' disabled value="0">
                </div>
                <div class='col-12 col-sm-12 col-md-6 col-lg-6'>
                    <label for='longitud'>Longitude:</label><br>
                    <input *ngIf='drawMarked.length > 0' class='form-control' type='text' id='longitud' disabled [value]="drawMarked[drawMarked.length-1][1]">
                    <input *ngIf='drawMarked.length == 0' class='form-control' type='text' id='longitud' disabled value="0">
                </div>
            </div>
            <h4 class='text-center font-weight-bold mb-4 mt-4' *ngIf='drawMarked.length > 0'>Coordenates marked</h4>
            <div class='row coordinate-box'>
                <div class='col-12 row coordinate-selected' *ngFor="let i of drawMarked" (click)="goFly(map, {lat: i[0], long: i[1]})">
                    <div class='col-12 col-sm-12 col-md-6 col-lg-6 mb-2'>
                        <input class='form-control' type='text' id='latitud' disabled [value]="i[0]">
                    </div>
                    <div class='col-12 col-sm-12 col-md-6 col-lg-6'>
                        <input class='form-control' type='text' id='longitud' disabled [value]="i[1]">
                    </div>
                </div>
                <div class='col-12' [ngStyle]="{'margin-top': 10}">
                    <button type='button' class='btn btn-block btn-danger' (click)='closeModalIndicator()'>Cancel</button>
                 </div>
            </div>
        </div>
    </modal-content>
</modal>