<div>
  <ng-container *ngIf="!showNav">
    <div class="iconMenu" (click)="menuToggle()">
      <i class="fas fa-bars hamburguer"></i>
    </div>
  </ng-container>
  <ng-container *ngIf="showNav">
  <nav class="sidenav">
    <div class="iconMenu" id="closedMenu" (click)="menuToggle()">
      <i class="fas fa-bars hamburguer"></i>
    </div>
    <ul class="main-buttons">
	<!-- How to work with ngFor in ANGULARCLI using next template -->
	 <ng-container *ngIf='showMenu'>
		<li *ngFor='let m of menu'>
			<i [class]="m.icon"></i> {{ m.menu }}
			<ul class="hidden">
				<li (click)="launchWay(subM.action)" *ngFor='let subM of m.subMenus'>
					<i [class]="subM.icon"></i> 
					{{ subM.name }}
				</li>
			</ul>
		</li>
	 </ng-container>
     <!-- <li *ngIf='showMenu'>
        <i class="fas fa-draw-polygon"></i>
        Perimetros
        <ul class="hidden">
          <li (click)='openDraw()'><i class="fas fa-draw-polygon"></i> Dibujar perimetro</li>
          <li (click)='openList()'><i class="fas fa-clipboard-list"></i> Lista de perimetros</li>
        </ul>
      </li>-->
    </ul>
  </nav>
  <app-modal 
    [header]="'Parameters type'" 
    [content]="parametersType" 
    [map]="map" 
    [dataMap]="dataMap"
    [show]="openedModalDraw"
    (openedModalDraw)="onShowClosed()"
    (hideSideBar)="hideSideBar($event)"
  ></app-modal>
  <app-list-perimeters
    [show]="openModalListParameters"
    [content]="perimetersRegistered"
    [map]="map"
    (openModalListParameters)="onListPerimetersClosed()"
  ></app-list-perimeters>
</ng-container>
</div>