:root{
    --blanco: #f5f5f5;
    --rojo: #f05454;
    --azul: #30475e;
    --negro: #121212;
    --verde: #34e5a6;
}
/**
*  Icon swal
**/
.iconSwal{
    font-size: 40px;
    color: var(--rojo);
}
.iconBorder{
    box-shadow: 0 3px 6px 0 rgba(171, 171, 171, .7);
	-webkit-box-shadow: 0 3px 6px 0 rgba(171, 171, 171, .7);
	-moz-box-shadow: 0 3px 6px 0 rgba(171, 171, 171, .7);
	-o-box-shadow: 0 3px 6px 0 rgba(171, 171, 171, .7);
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    border-radius: 50%;
}
hr{
    border: none !important;
    border: 1px solid !important;
    border-color: var(--rojo) !important;
}
body{
    font-family: 'Roboto Condensed', sans-serif !important;
}
ul li{
    list-style: none;
}
/* List parameter */
.listParameter{
    margin: 20px;
    margin-top: 20px;
    text-align: left;
    cursor: pointer;
    padding: 10px;
    font-size: 23px;
    overflow-x: auto;
}
.listParameter i{
    margin-right: 15px;
    font-size: 30px;
}
.listParameter:hover{
    background-color: var(--rojo);
    color: var(--blanco);
    transition: .3s;
}
.listParameter:not(:hover){
    transition: .3s;
}
.listOfParameterBox{
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 0px !important;
}
.typeParameters{
    margin-right: 0px !important;
    max-height: 300px;
    overflow-y: auto;
}
.typeParameters div i{
    font-size: 34px;
}
.iconSelect{
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-align: center;
}
.iconSelect:hover{
    background-color: var(--verde) !important;
    transition: .3s;
    color: var(--white) !important;
}
.iconSelect:not(:hover){
    transition: .3s;
}
/* Sweet alert */
.confirmButton{
    background-color: var(--verde) !important;
}
/* TOAST */
.toast-success{
    background-color: var(--verde) !important;
}
.toast-error{
    background-color: var(--rojo) !important;
}
.toast-info{
    background-color: var(--azul) !important;
}
/* Marker */
.pointMarker{
    background-color: var(--blanco);
    width: 2rem;
    height: 2rem;
    display: block;
    left: -1rem;
    top: -0.1rem;
    position: relative;
    border-radius: 2rem 2rem 0;
    transform: rotate(45deg);
    border: 1px solid black;
}